<div class="row">
    <div class="col-10">
        <!-- Busqueda -->
        <gifs-search-box></gifs-search-box>
    </div>

    <div class="col-10">
        <list-gifs [gifs]="gifs"></list-gifs>
    </div>
</div>