<div class="sidebar bg-dark border-right p-3">
    <h3 class="text-light">Giff app</h3>
    <hr class="text-white">

    @for (item of tags; track item) {
        <div class="list-group list-reset">
            <button 
              (click)="getGifs(item)" 
              class="list-group-item list-group-item-actions mt-2">
                {{ item }}
            </button>
        </div>
      } 
    

</div>


    