<div class="d-flex justify-content-center">


    <div>
        <img 
        [src]="url" 
        class="card-img-top animate__animated animate__fadeIn" 
        [alt]="alt"
        (load)="onLoad()">
    </div>
    
    @if(!hasLoaded) {
        <img 
            src="assets/loader.svg"
            alt=""
            class="mt-3"
            height="35"
            width="35"
            >
        }
</div>
