<div class="text-center card mb-2 bg-dark">
        <shared-lazy-image 
            [url]="gif.images.downsized_medium.url" 
            [alt]="gif.title || 'No name'">
        </shared-lazy-image>
    <div class="card-body text-center text-white">
        <p class="card-text">
            {{ gif.title }}
        </p>
    </div>
</div>




  