<h4>Search Gifs </h4>
<div class="input-group">
    <input 
        type="text" 
        class="form-control" 
        placeholder="Search"
        (keyup.enter)="searchTag()"
        #searchTxt
        >
</div>
